@media (min-width: 992px) {
    section {
        padding: 4rem 10rem;
    }

    header {
        padding-top: 4rem;
    }

    .description {
        flex-direction: row;
        align-items: flex-start;
    }

    .description .description-profile-wrapper {
        margin-bottom: 0;
    }

    .description .description-text {
        padding-left: 4rem;
    }

    .services {
        grid-template-columns: repeat(3, 1fr);
    }

    .contact h2 {
        margin-bottom: 4rem;
    }

    .contact-items-wrapper {
        flex-direction: row;
        justify-content: center;
    }

    .contact-items-wrapper .bottom-row {
        display: flex;
        margin-top: 0;
    }

    .contact-item {
        margin-top: 0;
        width: unset;
        margin-right: 1rem;
    }
}
