header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

    padding: 2rem 4rem 0 4rem;
}

header .header-item {
    flex: 1;
}

header a {
    font-size: 0.8rem;
    margin-top: 1rem;
}

main{
    padding: 2rem 2rem;
}