@media (min-width: 992px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    main{
        padding: 2rem 4rem;
    }
}