header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

    padding: 2rem 4rem 0 4rem;
}

header .header-item {
    flex: 1;
}

header a {
    font-size: 0.8rem;
    margin-top: 1rem;
}

main{
    padding: 2rem 4rem;
}

.gallery-row {
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 10px;
}

.gallery-row .gallery-row-item {
    position: relative;
}

figure.gallery-row-item {
    display: block;
    margin: 0;
    padding: 0;
}

.gallery-row .gallery-row-item img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-row .gallery-row-item a {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
}