* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: unset;
    text-decoration: none;
}

body {
    color: #F8F9F8;
    background-color: #1E1C21;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    letter-spacing: 1px;
}

section {
    padding: 1.5rem;
}

header {
    padding: 1rem;
    font-size: 1.5rem;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description .description-profile-wrapper {
    width: 100%;
    max-width: 400px;
    margin-bottom: 2rem;
}

.description .description-profile {
    width: 100%;
}

.description p{
    margin-bottom: 1.5rem;
}

.services {
    background-color: #2E2B33;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 2rem;
}

.services a {
    margin-right: auto;
    margin-left: auto;
}

.services article {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    margin-bottom: 1.5rem;
    background-color: #1E1C21;
}

.services article:hover {
    -webkit-box-shadow: 0px 0px 24px -14px rgba(248, 249, 248, 1);
    -moz-box-shadow: 0px 0px 24px -14px rgba(248, 249, 248, 1);
    box-shadow: 0px 0px 24px -14px rgba(248, 249, 248, 1);
    transition: box-shadow 300ms, transform 300ms;
}

.services article p{
    padding: 1rem;
}


.services article .image {
    flex: 1;
    overflow: hidden;
}

.services article .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact h2{
    margin-bottom: 1.5rem;
}

.contact .social-icon {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.5rem;
    margin: 0 0.5rem;
    background-color: #2E2B33;
    transition: background-color 400ms, transform 400ms;
}

.contact .social-icon-fb:hover {
    background-color: #4267B2;
}

.contact .social-icon-insta:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.contact .social-icon-tel:hover {
    background-color: #34DA4F;
}

.contact .social-icon-mail:hover {
    background-color: #51A0D5;
}

.contact-items-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    width: 250px;
}

footer {
    border-top: 1px solid #2E2B33;
    font-size: 0.7rem;
    font-style: italic;
    font-weight: 300;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

footer a {
    margin-left: 3px;
    text-decoration: underline;
}